header{
    background-color: #f4f3f7;
    border-bottom: 2px solid #b10f1f;
    .logo-home{
        display: none;
    }
    .logo-page{
        display: block;
    }
    .open-menu {
        &::before{
            background-color: #41434a;
        }
        &::after{
            background-color: #41434a;
        }
        span{
            background-color: #41434a;
        }
    }
    .languages {
        li {
            a{
                color: #41434a;
                &::before{
                    color: #41434a;
                }
            }
        }
    }
}

.about{
    padding: 27px 0 33px;
    .title{
        margin-bottom: 40px;
        h2{
            display: block;
            color: #000000;
            font-size: 25px;
            font-weight: 400;
            line-height: 28px;
            position: relative;
            text-align: center;
        }
    }
    .img{
        position: relative;
        margin-bottom: 15px;
        padding: 40px 0 20px;
        &::after{
            content: '';
            top: 0;
            left: 50%;
            z-index: -1;
            width: 100vw;
            height: 73%;
            position: absolute;
            background: url('../img/about-bg-after.jpg') no-repeat 0 100%;
            background-size: cover;
            transform: translate(-50%, 0);
        }
        img{
            z-index: 1;
            width: 73.2%;
            margin: 0 auto;
            display: block;
            position: relative;
            transform: translate(-12px, 0);
        }
        span{
            top: 48px;
            z-index: 0;
            right: -25px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            position: absolute;
            padding-right: 28px;
            display: inline-block;
            transform: rotate(-90deg);
        }
    }
    .about-text{
        padding: 0 6px;
        .text{
            h5{
                color: #2a282e;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 22px;
                font-family: 'Conv_tahomabd';
            }
            p{
                color: #2a282e;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 19px;
            }
            ul{
                li{
                    font-size: 16px;
                    color: #2a282e;
                    line-height: 22px;
                    position: relative;
                    padding-left: 34px;
                    padding-bottom: 35px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    i{
                        left: 0;
                        top: 2px;
                        font-size: 18px;
                        color: #b10f1f;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.achievements{
    padding: 18px 0 41px;
    .title{
        margin-bottom: 58px;
        h2{
            display: block;
            color: #000000;
            font-size: 25px;
            font-weight: 400;
            line-height: 28px;
            position: relative;
            text-align: center;
        }
    }
    .achievements-content{
        margin: 0 6px;
        .achievements-item{
            margin-bottom: 18px;
            background-color: #f4f3f7;
            padding: 18px 11px 19px 19px;
            &:last-child{
                margin-bottom: 0;
            }
            i{
                font-size: 17px;
                color: #b10f1f;
                margin-bottom: 6px;
                display: inline-block;
            }
            p{
                color: #41434a;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
}

footer{
    border-top: 1px solid #cdd1dc;
}

@media (min-width: 768px) {

    .about{
        padding: 40px 0 40px;
        .img {
            &::after{
                height: 76%;
            }
            img {
                width: 90%;
                transform: translate(0,0);
            }
            span {
                top: 108px;
                right: -115px;
                font-size: 32px;
                line-height: 36px;
                padding-right: 60px;
                &::after {
                    width: 30px;
                }
            }
        }
    }

    .achievements {
        .achievements-content{
            margin: 0 -1%;
            flex-wrap: wrap;
            display: flex;
            align-items: flex-start;
            .achievements-item{
                width: 48%;
                margin: 0 1% 20px;
            }
        }
    }

}

@media (min-width: 1024px) {

    .about {
        padding: 50px 0;
        position: relative;
        &::before {
            content: '';
            top: 0;
            right: 0;
            z-index: 0;
            width: 330px;
            height: 520px;
            position: absolute;
            background: url('../img/about-bg-before.png') no-repeat 50% 50%;
            background-size: cover;
        }
        .title{
            h2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
        .about-content{
            position: relative;
            &::after {
                content: '';
                top: 5px;
                left: 0;
                width: 44%;
                z-index: -1;
                height: 85%;
                position: absolute;
                background: url('../img/about-bg-after.jpg') no-repeat 0 100%;
            }
            .container{
                display: flex;
                justify-content: space-between;
            }
        }
        .img{
            padding: 0;
            width: 40%;
            margin: 0;
            display: flex;
            align-items: flex-end;
            &::after{
                display: none;
            }
            img {
                right: -20%;
                bottom: -5%;
                width: 135%;
                position: absolute;
            }
            span{
                top: 90px;
                right: -140px;
                font-size: 40px;
                line-height: 40px;
                padding-right: 60px;
                &::after {
                    width: 35px;
                    height: 3px;
                }
            }
        }
        .about-text{
            width: 51%;
            padding: 0 0 110px;
            .text{
                margin-bottom: 15px;
            }
        }
    }

    .achievements {
        padding: 50px 0;
        position: relative;
        .title{
            h2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

}

@media (min-width: 1280px) {

    header {
        nav {
            ul {
                li {
                    &:hover{
                        &::after {
                            background: #41434a;
                        }
                    }
                    a {
                        color: #41434a;
                    }
                }
                .drop {
                    a{
                        &::before {
                            color: #41434a;
                        }
                    }
                }
            }
        }
    }

    .about {
        .title {
            margin-bottom: 55px;
        }
        .about-content{
            &::after {
                width: 40%;
                height: 86%;
                background-size: cover;
            }
        }
        .img {
            width: 36%;
            span {
                top: 130px;
                right: -190px;
                font-size: 56px;
                line-height: 62px;
                padding-right: 85px;
            }
            img {
                right: -12%;
                bottom: -5%;
                width: 132%;
            }
        }
        .about-text {
            width: 45%;
            padding: 0 0 210px;
            .text {
                height: auto;
                a {
                    padding: 12px 29px;
                }
            }
        }
    }

    .achievements {
        .title {
            margin-bottom: 55px;
        }
        .achievements-content{
            margin: 0 -1%;
            .achievements-item{
                width: 31.33%;
                margin: 0 1% 20px;
            }
        }
    }

}

@media (min-width: 1400px) {

    .about{
        padding: 50px 0 46px;
        &::before {
            width: 474px;
            height: 738px;
        }
        .title {
            margin-bottom: 100px;
            h2 {
                font-size: 36px;
                line-height: 40px;
            }
        }
        &::after {
            width: 40%;
            height: 80.5%;
        }
        .img {
            width: 36%;
            img{
                bottom: 0;
                right: -20%;
                width: 580px;
            }
            span {
                top: 195px;
                width: 600px;
                right: -305px;
                font-size: 80px;
                line-height: 90px;
                padding-right: 85px;
                &::after {
                    width: 55px;
                    height: 5px;
                    right: -14px;
                }
            }
        }
        .about-text {
            width: 49.6%;
            padding: 0 0 245px;
            .text {
                padding-left: 2px;
                h5 {
                    font-size: 21px;
                    line-height: 26px;
                    margin-bottom: 26px;
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 24px;
                    padding-right: 35px;
                }
                ul {
                    margin-top: -4px;
                    margin-bottom: 43px;
                    li {
                        font-size: 18px;
                        line-height: 30px;
                        padding-left: 45px;
                        padding-bottom: 64px;
                        i {
                            top: -2px;
                            left: 4px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .about-content{
            &::after {
                top: 0;
                height: 89%;
                width: 43%;
            }
        }
    }

    .achievements{
        padding: 43px 0 68px;
        .title {
            margin-bottom: 70px;
            h2 {
                font-size: 36px;
                line-height: 40px;
            }
        }
        .achievements-content {
            .achievements-item {
                padding: 25px 33px 15px 27px;
                i {
                    font-size: 23px;
                    margin-bottom: 17px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }

    .footer {
        padding: 80px 0 0;
    }

}

@media (min-width: 1600px) {

    .about {
        &::after {
            width: 40%;
        }
        &::before{
            bottom: 10%;
            width: 474px;
            height: 738px;
        }
        .img {
            width: 34%;
            img {
                right: -22%;
                width: 667px;
            }
        }
        .about-text {
            width: 49.6%;
        }
    }

}

@media (min-width: 1900px) {

    .about {
        .about-content{
            &::after {
                width: 38.6%;
                height: 89%;
            }
        }
        .img {
            width: 30%;
            img {
                right: -29%;
            }
            span {
                top: 188px;
                right: -253px;
            }
        }
        .about-text {
            width: 49.6%;
        }
    }

}