@import 'libs/slick';

.banner{
    .banner-item{
        height: 480px;
        .text{
            padding-top: 92px;
            padding-left: 5px;
        }
        .title{
            margin-bottom: 24px;
            h2{
                color: #ffffff;
                font-size: 30px;
                font-weight: 700;
                line-height: 35px;
                text-transform: uppercase; 
                font-family: 'Conv_tahomabd';
            }
            h3{
                color: #ffffff;
                font-size: 30px;
                font-weight: 700;
                line-height: 35px;
                font-family: 'Conv_tahomabd';
            }
        }
        p{
            width: 55%;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            margin-left: 2px;
            line-height: 19px;
            margin-bottom: 40px;
        }
        a{
            display: inline-block;
            border: 2px solid #b10f1f;
            span{
                margin: 3px;
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                position: relative;
                display: inline-block;
                padding: 4px 34px 5px 9px;
                border: 2px solid #b10f1f;
                background-color: #b10f1f;
                transition: all 0.5s;
                &:hover{
                    background-color: #950b19;
                }
                i{
                    top: 50%;
                    right: 10px;
                    color: #fff;
                    font-size: 8px;
                    position: absolute;
                    transform: translate(0,-50%);
                }
            }
        }
    }
    .slick-arrow{
        right: 0;
        z-index: 3;
        bottom: 30px;
        width: 43px;
        height: 23px;
        cursor: pointer;
        position: absolute;
        background: transparent;
        border: 2px solid #8c99a1;
        transition: all 0.5s;
        &:hover{
            border: 2px solid #ffffff;
            background-color: #ffffff;
            i{
                color: #8c99a1;
            }
        }
        i{
            top: 49%;
            left: 50%;
            font-size: 10px;
            color: #ffffff;
            position: absolute;
            transform: translate(-50%, -50%);
            transition: all 0.5s;
        }
    }
    .next{
        right: 20px;
        i{
            left: 40%;
        }
    }
    .prev{
        right: 75px;
        i{
            left: 60%;
        }
    }
}

.about{
    padding-bottom: 30px;
    .img{
        position: relative;
        margin-bottom: 15px;
        padding: 40px 0 20px;
        &::after{
            content: '';
            top: 0;
            left: 50%;
            z-index: -1;
            width: 100vw;
            height: 73%;
            position: absolute;
            background: url('../img/about-bg-after.jpg') no-repeat 0 100%;
            background-size: cover;
            transform: translate(-50%, 0);
        }
        img{
            z-index: 1;
            width: 73.2%;
            margin: 0 auto;
            display: block;
            position: relative;
            transform: translate(-12px, 0);
        }
        span{
            top: 48px;
            z-index: 0;
            right: -25px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            position: absolute;
            padding-right: 28px;
            display: inline-block;
            transform: rotate(-90deg);
            &::after{
                content: '';
                top: 50%;
                right: 0;
                width: 14px;
                height: 1px;
                position: absolute;
                background-color: #ffffff;
                transform: translate(-50%, 0);
            }
        }
    }
    .about-text{
        .text{
            height: 340px;
            overflow: hidden;
            margin-bottom: 45px;
            h5{
                color: #2a282e;
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 22px;
                font-family: 'Conv_tahomabd';
            }
            p{
                color: #2a282e;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 19px;
            }
            ul{
                margin-bottom: 35px;
                li{
                    color: #2a282e;
                    font-size: 16px;
                    line-height: 19px;
                    padding-left: 30px;
                    position: relative;
                    padding-bottom: 15px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                    i{
                        top: 0;
                        left: 0;
                        font-size: 18px;
                        color: #b10f1f;
                        position: absolute;
                    }
                }
            }
            a{
                width: 278px;
                margin: 0 auto;
                display: table;
                font-size: 16px;
                font-weight: 400;
                color: #b10f1f;
                line-height: 18px;
                padding: 12px 15px;
                text-align: center;
                border: 2px solid #b10f1f;
                transition: all 0.5s;
                &:hover{
                    color: #ffffff;
                    background-color: #b10f1f;
                }
            }
        }
        .learn-more{
            width: 278px;
            margin: 0 auto;
            display: table;
            padding: 12px 15px;
            text-align: center;
            border: 2px solid #b10f1f;
            transition: all 0.5s;
            span{
                font-size: 16px;
                font-weight: 400;
                color: #b10f1f;
                line-height: 18px;
                position: relative;
                padding-right: 20px;
                transition: all 0.5s;
                i{
                    top: 55%;
                    right: 0;
                    font-size: 7px;
                    color: #b10f1f;
                    position: absolute;
                    transform: translate(0,-50%) rotate(-90deg);
                    transition: all 0.5s;
                }
            }
            &:hover{
                span{
                    color: #ffffff;
                    i{
                        color: #ffffff;
                        transform: translate(0,-50%) rotate(-180deg);
                    }
                }
                background-color: #b10f1f;
            }
        }
        .learn-more.active{
            span{
                i{
                    transform: translate(0,-50%) rotate(-180deg);
                }
            }
        }
    }
}

.product{
    padding: 22px 0 50px;
    .title{
        margin-bottom: 34px;
        h2{
            color: #000000;
            font-size: 23px;
            font-weight: 400;
            line-height: 25px;
            position: relative;
            padding-right: 44px;
            margin-bottom: 36px;
            display: inline-block;
            &::after{
                content: '';
                top: 56%;
                right: 0;
                width: 32px;
                height: 3px;
                position: absolute;
                background-color: #b10f1f;
                transform: translate(0, -50%);
            }
        }
        .product-tabs{
            width: 278px;
            display: flex;
            margin-bottom: 26px;
            justify-content: space-between;
            li{
                a{
                    width: 129px;
                    height: 46px;
                    display: flex;
                    border: 2px solid #b10f1f;
                    span{
                        width: 119px;
                        height: 36px;
                        margin: 3px;
                        color: #b10f1f;
                        font-size: 16px;
                        display: flex;
                        font-weight: 400;
                        line-height: 18px;
                        position: relative;
                        align-items: center;
                        justify-content: center;
                        border: 2px solid transparent;
                        transition: all 0.5s;
                        &:hover{
                            color: #ffffff;
                            background-color: rgba(177, 15, 31, 0.7);
                        }
                        i{
                            top: 50%;
                            right: 10px;
                            color: #fff;
                            font-size: 8px;
                            position: absolute;
                            transform: translate(0,-50%);
                        }
                    }
                }
            }
            li.active{
                a{
                    cursor: default;
                    span{
                        color: #ffffff;
                        border: 2px solid #b10f1f;
                        background-color: #b10f1f;
                        &:hover{
                            color: #ffffff;
                            border: 2px solid #b10f1f;
                            background-color: #b10f1f;
                        }
                    }
                }   
            }
        }
        .product-all{
            position: relative;
            padding-right: 40px;
            display: inline-block;
            &:hover{
                span{
                    color: #b10f1f;
                    &::after{
                        background: #b10f1f;
                    }
                }
                i{
                    color: #b10f1f;
                }
            }
            span{
                color: #000000;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                position: relative;
                display: inline-block;
                transition: all 0.5s;
                &::after{
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    background: #000000;
                    transition: all 0.5s;
                }
            }
            i{
                top: 55%;
                right: 0;
                color: #000000;
                font-size: 14px;
                position: absolute;
                transform: translate(0, -50%);
                transition: all 0.5s;
            }
        }
    }
    .product-slider{
        padding-bottom: 72px;
        .slick-list{
            width: 860px;
            margin: 0 -5px;
        }
        .slick-slide{
            margin: 0 5px;
        }
        .product-item{
            position: relative;
            padding: 23px 4px 18px;
            border: 4px solid #f4f3f7;
            transition: all 0.5s;
            &:hover{
                background-color: #f4f3f7;
                .name{
                    a{
                        border: 2px solid #b10f1f;
                        background-color: transparent;
                    }
                }
            }
            .all{
                top: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .img{
                height: 150px;
                display: flex;
                position: relative;
                margin-bottom: 44px;
                align-items: center;
                justify-content: center;
                &::after{
                    content: '';
                    left: 50%;
                    width: 167px;
                    height: 55px;
                    bottom: -35px;
                    position: absolute;
                    transform: translate(-50%, 0);
                    background: url('../img/product-img-after.png') no-repeat 50% 50%;
                    background-size: cover;
                }
                img{
                    z-index: 1;
                    width: 100%;
                    position: relative;
                }
            }
            .name{
                padding: 0 15px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                p{
                    color: #000000;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 23px;
                    span{
                        display: block;
                    }
                }
                a{
                    width: 22px;
                    height: 16px;
                    position: relative;
                    border: 2px solid #cdd1dc;
                    background-color: #cdd1dc;
                    transform: translate(-15px, -6px);
                    transition: all 0.5s;
                    &:hover{
                        border: 2px solid #b10f1f;
                        background-color: transparent;
                    }
                    i{
                        top: 50%;
                        right: -16px;
                        font-size: 14px;
                        color: #000000;
                        position: absolute;   
                        transform: translate(0, -50%);
                    }
                }
            }
        }
        .slick-dots{
            left: 0;
            bottom: 8px;
            width: 100%;
            padding: 0 65px;
            position: absolute;
            text-align: center;
            li{
                margin: 0 5px;
                display: inline-block;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                button{
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                    border-radius: 50%;
                    text-indent: -9999px;
                    background: transparent;
                    border: 2px solid #b10f1f;
                    transition: all 0.5s;
                }
            }
            .slick-active{
                button{
                    background-color: #b10f1f;
                }
            }
        }
        .slick-arrow{
            bottom: 0;
            z-index: 3;
            width: 53px;
            height: 36px;
            cursor: pointer;
            position: absolute;
            background: transparent;
            border: 2px solid #8c99a1;
            transition: all 0.5s;
            &:hover{
                border: 2px solid #b10f1f;
                background-color: #b10f1f;
                i{
                    color: #ffffff;
                }
            }
            i{
                top: 49%;
                left: 50%;
                font-size: 14px;
                color: #000000;
                position: absolute;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
            }
        }
        .next{
            right: 0;
            i{
                left: 38%;
            }
        }
        .prev{
            left: 0;
            i{
                left: 62%;
            }
        }
    }
}

.missions{
    padding: 52px 0 50px;
    background-color: #f4f3f7;
    .missions-content{
        padding: 0 5px;
    }
    .title{
        margin-bottom: 36px;
        h2{
            color: #000000;
            font-size: 23px;
            font-weight: 400;
            line-height: 25px;
            position: relative;
            padding-right: 44px;
            display: inline-block;
            &::after{
                content: '';
                top: 56%;
                right: 0;
                width: 32px;
                height: 3px;
                position: absolute;
                background-color: #b10f1f;
                transform: translate(0, -50%);
            }
        }
    }
    .missions-slider{
        padding-bottom: 53px;
        .slick-list{
            width: 865px;
            margin: 0 -5px;
        }
        .slick-slide{
            margin: 0 5px;
        }
        .missions-item{
            position: relative;
            &:hover{
                .img{
                    &::before{
                        width: 100%;
                    }
                }
            }
            a{
                top: 0;
                left: 0;
                z-index: 4;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .img{
                height: 229px;
                position: relative;
                margin-bottom: 18px;
                &::before{
                    content: '';
                    left: 0;
                    width: 0;
                    bottom: 0;
                    z-index: 1;
                    height: 8px;
                    position: absolute;
                    background-color: #b10f1f;
                    transition: all 0.5s;
                }
                &::after{
                    content: '';
                    top: 0;
                    left: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-image: linear-gradient(0, rgba(23, 31, 53, 0.69) 0%, rgba(196, 196, 196, 0) 100%);
                }
            }
            p{
                padding: 0 20px;
                color: #41434a;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
            }
        }
        .slick-dots{
            left: 0;
            bottom: 8px;
            width: 100%;
            padding: 0 65px;
            position: absolute;
            text-align: center;
            li{
                margin: 0 5px;
                display: inline-block;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                button{
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                    border-radius: 50%;
                    text-indent: -9999px;
                    background: transparent;
                    border: 2px solid #b10f1f;
                    transition: all 0.5s;
                }
            }
            .slick-active{
                button{
                    background-color: #b10f1f;
                }
            }
        }
        .slick-arrow{
            bottom: 0;
            z-index: 3;
            width: 53px;
            height: 36px;
            cursor: pointer;
            position: absolute;
            background: transparent;
            border: 2px solid #8c99a1;
            transition: all 0.5s;
            &:hover{
                border: 2px solid #b10f1f;
                background-color: #b10f1f;
                i{
                    color: #ffffff;
                }
            }
            i{
                top: 49%;
                left: 50%;
                font-size: 14px;
                color: #000000;
                position: absolute;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
            }
        }
        .next{
            right: 0;
            i{
                left: 38%;
            }
        }
        .prev{
            left: 0;
            i{
                left: 62%;
            }
        }
    }
}

.services{
    padding: 48px 0 50px;
    .services-content{
        padding: 0 5px;
    }
    .title{
        margin-bottom: 36px;
        h2{
            color: #000000;
            font-size: 23px;
            font-weight: 400;
            line-height: 25px;
            position: relative;
            padding-right: 44px;
            display: inline-block;
            &::after{
                content: '';
                top: 56%;
                right: 0;
                width: 32px;
                height: 3px;
                position: absolute;
                background-color: #b10f1f;
                transform: translate(0, -50%);
            }
        }
    }
    .services-slider{
        padding-bottom: 71px;
        .slick-list{
            width: 865px;
            margin: 0 -5px;
        }
        .slick-slide{
            margin: 0 5px;
        }
        .services-item{
            text-align: center;
            position: relative;
            padding: 48px 20px 34px;
            background-color: #f4f3f7;
            &::after{
                content: '';
                bottom: 0;
                width: 0;
                left: 50%;
                height: 3px;
                position: absolute;
                background-color: #b10f1f;
                transform: translate(-50%, 0);
                transition: all 0.5s;
            }
            &:hover{
                &::after{
                    width: 128px;
                }
                .img{
                    i{
                        color: #b10f1f;
                    }
                }
                p{
                    color: #b10f1f;
                }
            }
            a{
                top: 0;
                left: 0;
                z-index: 4;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .img{
                position: relative;
                margin-bottom: 10px;
                i{
                    font-size: 70px;
                    color: #41434a;
                    transition: all 0.5s;
                }
            }
            p{
                padding: 0 20px;
                color: #41434a;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                text-align: center;
                transition: all 0.5s;
            }
        }
        .slick-dots{
            left: 0;
            bottom: 8px;
            width: 100%;
            padding: 0 65px;
            position: absolute;
            text-align: center;
            li{
                margin: 0 5px;
                display: inline-block;
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
                button{
                    width: 12px;
                    height: 12px;
                    cursor: pointer;
                    border-radius: 50%;
                    text-indent: -9999px;
                    background: transparent;
                    border: 2px solid #b10f1f;
                    transition: all 0.5s;
                }
            }
            .slick-active{
                button{
                    background-color: #b10f1f;
                }
            }
        }
        .slick-arrow{
            bottom: 0;
            z-index: 3;
            width: 53px;
            height: 36px;
            cursor: pointer;
            position: absolute;
            background: transparent;
            border: 2px solid #8c99a1;
            transition: all 0.5s;
            &:hover{
                border: 2px solid #b10f1f;
                background-color: #b10f1f;
                i{
                    color: #ffffff;
                }
            }
            i{
                top: 49%;
                left: 50%;
                font-size: 14px;
                color: #000000;
                position: absolute;
                transform: translate(-50%, -50%);
                transition: all 0.5s;
            }
        }
        .next{
            right: 0;
            i{
                left: 38%;
            }
        }
        .prev{
            left: 0;
            i{
                left: 62%;
            }
        }
    }
}

.contacts{
    position: relative;
    padding: 52px 0 504px;
    background-color: #b10f1f;
    .contacts-content{
        padding: 0 7px;
        .title{
            margin-bottom: 31px;
            h2{
                color: #ffffff;
                font-size: 23px;
                font-weight: 400;
                line-height: 25px;
                position: relative;
                padding-right: 44px;
                display: inline-block;
                &::after{
                    content: '';
                    top: 56%;
                    right: 0;
                    width: 32px;
                    height: 3px;
                    position: absolute;
                    background-color: #ffffff;
                    transform: translate(0, -50%);
                }
            }
        }
        .text{
            margin-left: 13px;
            margin-bottom: 19px;
            p{
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 15px;
            }
            ul{
                li{
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    padding-left: 40px;
                    position: relative;
                    margin-bottom: 18px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    i{
                        top: 0;
                        left: 2px;
                        font-size: 18px;
                        color: #ffffff;
                        position: absolute;
                    }
                    a{
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        display: inline-block;
                    }
                }
            }
        }
        .feedback{
            p{
                color: #ffffff;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 24px;
            }
            form{
                input{
                    width: 100%;
                    height: 48px;
                    padding: 0 18px;
                    color: #2a282e;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 20px;
                    background-color: #ffffff;
                    border: 1px solid #ffffff;
                }
                textarea{
                    width: 100%;
                    resize: none;
                    height: 140px;
                    color: #2a282e;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 14px 18px;
                    background-color: #ffffff;
                    border: 1px solid #ffffff;
                }
            }
            label{
                display: block;
                cursor: pointer;
                font-size: 16px;
                color: #ffffff;
                font-weight: 400;
                position: relative;
                padding: 32px 0 35px 28px;
                text-decoration: underline;
                .jcf-checkbox{
                    top: 48%;
                    left: -1px;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    background-color: #ffffff;
                    transform: translate(0, -50%);
                }
                .jcf-checkbox.jcf-checked{
                    span{
                        top: 50%;
                        left: 50%;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        &::after{
                            content: '\E804';
                            top: 50%;
                            left: 50%;
                            font-size: 9px;
                            color: #2a282e;
                            position: absolute;
                            font-family: 'fontello';
                            position: absolute;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            button{
                width: 278px;
                height: 46px;
                display: table;
                margin: 0 auto;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                background: transparent;
                border: 2px solid #ffffff;
                transition: all 0.5s;
                &:hover{
                    color: #b10f1f;
                    background-color: #ffffff;
                }
            }
        }
    }
    .map{
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        height: 456px;
        position: absolute;
        background: #ffffff;
    }
}

@media (min-width: 768px) {

    .banner {
        .banner-item {
            .text {
                padding-left: 0;
                padding-top: 160px;
            }
            p{
                width: 245px;
            }
        }
        .next {
            right: 60px;
        }
        .prev {
            right: 115px;
        }
    }

    .about {
        .img {
            &::after{
                height: 76%;
            }
            img {
                width: 90%;
                transform: translate(0,0);
            }
            span {
                top: 108px;
                right: -115px;
                font-size: 32px;
                line-height: 36px;
                padding-right: 60px;
                &::after {
                    width: 30px;
                }
            }
        }
    }

    .product{
        .product-content{
            padding: 0;
        }
        .product-slider {
            .slick-list {
                width: auto;
                margin: 0 -10px;
            }
            .slick-slide{
                margin: 0 10px;
            }
            .product-item {
                padding: 23px 20px 18px;
            }
        }
    }

    .missions{
        .missions-content{
            padding: 0;
        }
        .missions-slider{
            padding-bottom: 70px;
            .slick-list{
                width: auto;
                margin: 0 -10px;
            }
            .slick-slide{
                margin: 0 10px;
            }
        }
    }

    .services{
        .services-content{
            padding: 0;
        }
        .services-slider{
            padding-bottom: 70px;
            .slick-list{
                width: auto;
                margin: 0 -10px;
            }
            .slick-slide{
                margin: 0 10px;
            }
            .services-item{
                padding: 48px 10px 34px;
                p{
                    padding: 0 10px;
                }
            }
        }
    }

}

@media (min-width: 1024px) {

    .banner {
        .banner-item {
            height: 580px;
            .text{
                padding-top: 190px;
            }
            .title {
                h2 {
                    font-size: 50px;
                    line-height: 58px;
                }
                h3 {
                    font-size: 50px;
                    line-height: 58px;
                }
            }
            p {
                width: 345px;
                font-size: 18px;
                line-height: 21px;
            }
            a{
                span{
                    padding: 6px 40px 7px 14px;
                    i{
                        right: 15px;
                    }
                }
            }
        }
        .slick-arrow {
            width: 60px;
            height: 30px;
            i {
                font-size: 12px;
            }
        }
        .next {
            right: 80px;
        }
        .prev {
            right: 155px;
        }
    }

    .about{
        position: relative;
        padding: 30px 0 30px;
        &::after {
            content: '';
            top: 0;
            left: 0;
            width: 44%;
            z-index: -1;
            height: 85%;
            position: absolute;
            background: url('../img/about-bg-after.jpg') no-repeat 0 100%;
        }
        &::before {
            content: '';
            right: 0;
            bottom: 20%;
            z-index: -1;
            width: 195px;
            height: 300px;
            position: absolute;
            background: url('../img/about-bg-before.png') no-repeat 50% 50%;
            background-size: cover;
        }
        .about-content{
            display: flex;
            justify-content: space-between;
        }
        .img{
            padding: 0;
            width: 40%;
            margin: 0;
            display: flex;
            align-items: flex-end;
            &::after{
                display: none;
            }
            img {
                right: -20%;
                bottom: -5%;
                width: 135%;
                position: absolute;
            }
            span{
                top: 115px;
                right: -140px;
                font-size: 40px;
                line-height: 40px;
                padding-right: 60px;
                &::after {
                    width: 35px;
                    height: 3px;
                }
            }
        }
        .about-text{
            width: 51%;
            padding: 0 0 30px;
            .text{
                margin-bottom: 15px;
            }
            .text{
                a{
                    margin: 0;
                    width: auto;    
                    padding: 12px 20px;
                }
            }
            .learn-more {
                margin: 0;
                width: auto;
                padding: 12px 20px;
                span {
                    i {
                        top: 60%;
                    }
                }
            }
        }
    }

    .product {
        padding: 50px 0;
        .title{
            top: 7%;
            left: 0;
            margin: 0;
            z-index: 3;
            position: absolute;
            h2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
        .product-slider {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2%;
            padding-bottom: 0;
            .product-item {
                width: 48%;
                margin: 0 1% 12px;
                &:first-child{
                    margin-left: 51%;
                }
                .img {
                    height: auto;
                }
            }
        }
    }

    .missions {
        padding: 50px 0;
        .title{
            h2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    .services {
        padding: 50px 0;
        .title{
            h2 {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    .contacts{
        padding: 52px 0;
        &::after{
            content: '';
            left: 0;
            bottom: 0;
            width: 409px;
            height: 596px;
            position: absolute;
            background: url('../img/contacts-after.png') no-repeat 50% 50%;
            background-size: cover;
        }
        .contacts-content{
            padding: 0;
            width: 392px;
            .title{
                h2 {
                    font-size: 28px;
                    line-height: 30px;
                }
            }
            .feedback{
                button{
                    margin: 0;
                    width: auto;
                    padding: 5px 43px;
                }
            }
        }
        .map {
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
            left: initial;
            bottom: initial;
        }
    }

}

@media (min-width: 1280px) {

    .banner {
        .banner-item {
            height: 680px;
            .text {
                padding-top: 220px;
            }
        }
        .next {
            right: 100px;
        }
        .prev {
            right: 175px;
        }
    }

    .about {
        &::before{
            width: 260px;
            height: 400px;
        }
        &::after {
            width: 40%;
            height: 86%;
            background-size: cover;
        }
        .img {
            width: 36%;
            span {
                top: 165px;
                right: -190px;
                font-size: 56px;
                line-height: 62px;
                padding-right: 85px;
            }
            img {
                right: -12%;
                bottom: -5%;
                width: 132%;
            }
        }
        .about-text {
            width: 56%;
            .text {
                height: auto;
                a {
                    padding: 12px 29px;
                }
            }
            .learn-more{
                display: none;
            }
        }
    }

    .product {
        padding: 60px 0;
        .product-slider {
            margin: 0 -0.5%;
            .product-item {
                width: 32.33%;
                margin: 0 0.5% 12px;
                &:first-child {
                    margin-left: 33.8%;
                }
            }
        }
    }

    .missions {
        padding: 60px 0;
    }

    .services {
        padding: 60px 0;
    }

    .contacts {
        .map {
            width: 57%;
        }
    }

}

@media (min-width: 1400px) {

    .banner {
        .banner-item {
            height: 850px;
            .text{
                padding-top: 290px;
                margin-left: -4px;
            }
            .title {
                margin-bottom: 44px;
                h2{
                    font-size: 70px;
                    line-height: 84px;
                }
                h3{
                    font-size: 70px;
                    line-height: 84px;
                }
            }
            p {
                width: 450px;
                font-size: 20px;
                line-height: 25px;
            }
            a{
                margin-left: 5px;
                span{
                    font-size: 16px;
                    line-height: 18px;
                    padding: 6px 41px 7px 18px;
                }
            }
        }
        .slick-arrow {
            bottom: 45px;
            i {
                top: 47%;
                font-size: 15px;
            }
        }
        .next {
            right: 6.5%;
            i {
                left: 40%;
            }
        }
        .prev {
            right: 12%;
            i{
                left: 60%;
            }
        }
    }

    .about {
        padding: 46px 0 60px;
        &::before {
            bottom: 10%;
            width: 360px;
            height: 555px;
        }
        &::after {
            width: 40%;
            height: 80.5%;
        }
        .img {
            width: 36%;
            img{
                bottom: 0;
                right: -20%;
                width: 580px;
            }
            span {
                top: 219px;
                width: 600px;
                right: -253px;
                font-size: 80px;
                line-height: 90px;
                padding-right: 85px;
                &::after {
                    width: 55px;
                    height: 5px;
                    right: -14px;
                }
            }
        }
        .about-text {
            width: 55%;
            padding: 0 0 70px;
            .text {
                padding-left: 2px;
                h5 {
                    font-size: 21px;
                    line-height: 26px;
                    margin-bottom: 26px;
                }
                p {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 24px;
                    padding-right: 35px;
                }
                ul {
                    margin-top: -4px;
                    margin-bottom: 43px;
                    li {
                        font-size: 20px;
                        line-height: 26px;
                        padding-left: 45px;
                        padding-right: 65px;
                        padding-bottom: 24px;
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .product{
        padding: 58px 0 53px;
        .title {
            top: 11.5%;
            h2 {
                font-size: 36px;
                line-height: 40px;
                padding-right: 50px;
                margin-bottom: 66px;
            }
            .product-tabs {
                width: 320px;
                margin-bottom: 40px;
                li{
                    a{
                        width: 142px;
                        span{
                            width: 132px;
                        }
                    }
                }
            }
        }
        .product-slider {
            .product-item {
                margin: 0 0.5% 23px;
                padding: 43px 15px 38px;
                .name {
                    p {
                        font-size: 22px;
                        line-height: 31px;
                    }
                    a {
                        width: 30px;
                        height: 20px;
                        i {
                            right: -20px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .missions{
        display: flex;
        padding: 72px 0 42px;
        .title {
            margin-bottom: 55px;
            h2 {
                font-size: 36px;
                line-height: 40px;
                padding-right: 43px;
            }
        }
        .missions-slider {
            .slick-list {
                margin: 0 -12px;
            }
            .slick-slide {
                margin: 0 12px;
            }
            .missions-item {
                .img {
                    height: 240px;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .services{
        display: flex;
        padding: 100px 0 52px;
        .title {
            margin-bottom: 54px;
            h2 {
                font-size: 36px;
                line-height: 40px;
                padding-right: 43px;
            }
        }
        .services-slider {
            padding-bottom: 75px;
            .slick-list {
                margin: 0 -12px;
            }
            .slick-slide {
                margin: 0 12px;
            }
            .services-item {
                padding: 21px 30px 24px;
                .img {
                    margin-bottom: 4px;
                    i {
                        font-size: 56px;
                    }
                }
            }
        }
    }

    .contacts{
        padding: 41px 0 51px;
        .contacts-content{
            width: 392px;
            margin-left: 55px;
            .title {
                margin-bottom: 34px;
                padding-right: 50px;
                h2 {
                    font-size: 36px;
                    line-height: 40px;
                    padding-right: 43px;
                }
            }
            .text {
                margin-left: -4px;
                margin-bottom: 19px;
                ul {
                    li {
                        padding-left: 31px;
                    }
                }
            }
            .feedback {
                form {
                    input {
                        margin-bottom: 14px;
                    }
                    textarea {
                        height: 118px;
                    }
                }
                label {
                    margin-bottom: 9px;
                    padding: 11px 0 16px 31px;
                }
            }
        }
        .map {
            width: 56%;
        }
    }

}


@media (min-width: 1600px) {

    .banner {
        .next {
            right: 11.2%;
        }
        .prev {
            right: 16%;
        }
    }    

    .about {
        &::after {
            width: 40%;
        }
        &::before{
            bottom: 10%;
            width: 474px;
            height: 738px;
        }
        .img {
            width: 34%;
            img {
                right: -22%;
                width: 667px;
            }
        }
        .about-text {
            width: 58%;
        }
    }

}

@media (min-width: 1900px) {

    .banner {
        .next {
            right: 5.8%;
        }
        .prev {
            right: 11.8%;
        }
    }

    .about {
        &::after {
            width: 38.5%;
            height: 80.5%;
        }
        .img {
            width: 30%;
            img {
                right: -29%;
            }
            span {
                top: 219px;
                right: -253px;
            }
        }
        .about-text {
            width: 58%;
        }
    }

}