<footer class="footer">
    <a href="index.html" class="logo"><img src="img/logo-footer.png" alt=""></a>
    <div class="footer-menu">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="javascript:void(0)"><span>О компании</span></a></li>
                    <li>
                        <a href="javascript:void(0)"><span>Продукты</span></a>
                        <ul>
                            <li><a href="javascript:void(0)"><span>Новые</span></a></li>
                            <li><a href="javascript:void(0)"><span>Б/у</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Миссии</span></a>
                        <ul>
                            <li><a href="javascript:void(0)"><span>Транспорт</span></a></li>
                            <li><a href="javascript:void(0)"><span>Поисковые работы</span></a></li>
                            <li><a href="javascript:void(0)"><span>Пожаротушение</span></a></li>
                            <li><a href="javascript:void(0)"><span>Медицинская эвакуация</span></a></li>
                            <li><a href="javascript:void(0)"><span>Оффшорные перевозки</span></a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)"><span>Услуги</span></a></li>
                    <li><a href="javascript:void(0)"><span>Контакты</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="cont">
                <p><i class="icon-map"></i> г. Москва, Пресненская набережная, 6, строение 2, этаж 51, офис 5110.</p>
                <ul>
                    <li><a href="tel:+7 (967) 100-70-17"><i class="icon-tel"></i>+7 (967) 100-70-17</a></li>
                    <li><a href="mailto:sales@aviatechnology.aero"><i class="icon-mail"></i>sales@aviatechnology.aero</a></li>
                </ul>
            </div>
            <div class="politics">
                <span>© Все права защищены, 2020</span>
                <a target="_blank" href="javascript:void(0)">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>