<div class="mobile-menu">
    <span class="close"></span>
    <nav>
        <ul>
            <li class="active"><a href="about.html">О компании</a></li>
            <li>
                <a href="javascript:void(0)">Продукты</a>
                <ul>
                    <li><a href="products.html">Доступно к заказу</a></li>
                    <li><a href="products.html">В наличи</a></li>
                </ul>
            </li>
            <li>
                <a href="mission.html">Миссии</a>
                <ul>
                    <li><a href="mission.html#tab-1">Транспорт</a></li>
                    <li><a href="mission.html#tab-2">Поисковые работы</a></li>
                    <li><a href="mission.html#tab-3">Пожаротушение</a></li>
                    <li><a href="mission.html#tab-4">Медицинская эвакуация</a></li>
                    <li><a href="mission.html#tab-5">Оффшорные перевозки</a></li>
                </ul>
            </li>
            <li><a href="services.html">Услуги</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
</div>

<header class="header">
    <div class="container">
        <div class="header-content">
            <a class="logo logo-home" href="index.html"><img src="img/logo2.png" alt=""></a>
            <a class="logo logo-page" href="index.html"><img src="img/logo-footer.png" alt=""></a>
            <nav>
                <ul>
                    <li class="active"><a href="about.html">О компании</a></li>
                    <li>
                        <a href="javascript:void(0)">Продукты</a>
                        <ul>
                            <li><a href="products.html">Доступно к заказу</a></li>
                            <li><a href="products.html">В наличи</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mission.html">Миссии</a>
                        <ul>
                            <li><a href="mission.html#tab-1">Транспорт</a></li>
                            <li><a href="mission.html#tab-2">Поисковые работы</a></li>
                            <li><a href="mission.html#tab-3">Пожаротушение</a></li>
                            <li><a href="mission.html#tab-4">Медицинская эвакуация</a></li>
                            <li><a href="mission.html#tab-5">Оффшорные перевозки</a></li>
                        </ul>
                    </li>
                    <li><a href="services.html">Услуги</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
            </nav>
            <div class="languages">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Eng</a>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">Ru</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <span class="open-menu">
                <span></span>
            </span>
        </div>
    </div>
</header>

