
.icon-arrow-next:before { content: '\e800'; } /* '' */
.icon-arrow-prev:before { content: '\e801'; } /* '' */
.icon-arrow:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-checkbox:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-map2:before { content: '\e807'; } /* '' */
.icon-services-img1:before { content: '\e808'; } /* '' */
.icon-tel:before { content: '\e809'; } /* '' */
.icon-services-img3:before { content: '\e80a'; } /* '' */
.icon-services-img2:before { content: '\e80b'; } /* '' */
.icon-services-img4:before { content: '\e80c'; } /* '' */
.icon-services-img5:before { content: '\e80d'; } /* '' */